/sesiones/ConceptosBasicos/nbproject/private/
/sesiones/ConceptosBasicos/build/
/sesiones/ReutilizacionDeCodigo/nbproject/private/
/sesiones/ReutilizacionDeCodigo/build/
/tareas/Libro/nbproject/private/
/tareas/Libro/build/
/tareas/JavaBasico/nbproject/private/
/tareas/JavaBasico/build/
/tareas/JavaBasico/dist/
/sesiones/Mueble/nbproject/private/
/sesiones/Mueble/build/
